@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.section-hidden {
    transform: translateY(8rem);
    opacity: 0;
}

.section {
    transition: 1.4s;
}

.project-hidden {
    display: none;
}

:root {
    --LightGray: #d9d9d9;
    --LightBlack: #2d2e32;
    --MediumBlack: #252528fb;
    --Green: #20c997;
    --FontPoppins: Poppins, sans-serif;
}

nav {
    background-color: #ffff;
    padding: 20px;
    width: 100%;
    border-bottom-width: 4px;
    border-bottom-color: var(--Green);
    border-bottom-style: solid;
    z-index: 3;
    transition: 3s;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    list-style-type: none;
}

.sticky {
    position: fixed;
}

.link {
    color: var(--LightBlack);
    text-decoration: none;
    font-family: var(--FontPoppins);
    font-weight: 500;
    font-size: 18px;
    position: relative;
}

.link:hover {
    color: var(--Green);
}

.link::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: var(--Green);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
    right: 0;
}

.link:hover::after {
    width: 100%;
    height: 2px;
    left: 0px;
}

#initial {
    background-image: url(imagens/background.jpg);
    width: 100%;
    height: 820px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.initial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, 50%);
    gap: 30px;
    animation-name: titleAnim;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    width: 100%;
    padding: 0px 15px;
}

@keyframes titleAnim {
    0% {
        transform: translate(-10%, 50%);
        opacity: 0;
    }
    50% {
        transform: translate(-60%, 50%);
        opacity: 0.4;
    }
    100% {
        transform: translate(-50%, 50%);
        opacity: 1;
    }
}

.main-title {
    color: var(--Green);
    font-weight: 700;
    font-family: var(--FontPoppins);
    text-align: center;
}

.endereço {
    color: #f8f9fa;
    font-style: normal;
    font-family: var(--FontPoppins);
    font-weight: 500;
}

.initial-image-container {
    display: flex;
    gap: 30px;
}

.btn-icon {
    font-size: 38px;
    background-color: transparent;
    color: var(--Green);
    cursor: pointer;
    border: none;
    transition: 0.4s ease-out;
    display: none;
    font-weight: 500;
}

.btn-icon:hover {
    transform: scale(1.3);
}

.menu-box {
    width: 400px;
    height: 100vh;
    background-color: var(--LightGray);
    position: fixed;
    top: 0px;
    z-index: 11;
    transition: 1.5s;
    transform: translateX(calc(-2rem - 100%));
}

.menu-box ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-box > .btn-icon {
    position: absolute;
    right: 40px;
    top: 30px;
    font-size: 50px;
}

.menu-box li {
    margin-bottom: 2em;
}

.menu-box ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: var(--FontPoppins);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    background-color: var(--Green);
    border-radius: 2em;
    width: 250px;
    display: block;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}

.menu-box a:hover {
    color: var(--Green);
    background-color: white;
    border-color: var(--Green);
}

.menu-box.topHidden {
    transform: translateY(0px);
}

/* section about me */

#about-section {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.sub-title {
    font-family: var(--FontPoppins);
    font-weight: 600;
    color: var(--MediumBlack);
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: var(--Green);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.self-description {
    font-family: var(--FontPoppins);
    font-weight: 600;
    color: var(--MediumBlack);
    font-size: 20px;
}

em {
    font-style: normal;
    color: var(--Green);
}

strong {
    font-weight: 600;
    color: var(--LightBlack);
}

.tec-container {
    width: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--LightGray);
    border-radius: 10px;
    padding: 30px 40px 30px 40px;
    box-shadow: gray 0px 0px 8px;
}

.tec-container p {
    font-family: var(--FontPoppins);
    color: #212529;
    font-weight: 400;
}

.tec-container h3 {
    font-family: var(--FontPoppins);
    font-weight: 600;
    color: var(--MediumBlack);
    text-transform: capitalize;
    text-decoration-line: underline;
    text-decoration-color: var(--Green);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    font-size: 20px;
    margin-top: 30px;
}

.tec-image-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.tec-image-container img {
    width: 40px;
}

/* projects */

#projects-section {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.projects-container {
    display: grid;
    grid-template-columns: 480px 480px;
    grid-template-rows: 400px 500px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--LightGray);
    width: 1200px;
    padding: 40px 0px 40px 0px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 40px;
    overflow-y: scroll;
}

.projects-container::-webkit-scrollbar {
    width: 20px;
    background-color: white;
    border-radius: 6px;
    border-color: var(--Green);
    border-style: solid;
    border-width: 2px;
}

.projects-container::-webkit-scrollbar-button {
    display: none;
}

.projects-container::-webkit-scrollbar-thumb {
    background-color: var(--Green);
    color: black;
    border-radius: 6px;
}

.projects-container::-webkit-scrollbar-track {
    background-color: white;
    border-color: var(--Green);
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
}

.project {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.project::after {
    content: "Ver Mais";
    color: white;
    text-align: center;
    background-blend-mode: darken;
    font-family: var(--FontPoppins);
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: 2;
    position: absolute;
    top: 0px;
    border-radius: 10px;
    display: none;
    transition: 3s;
}

.project::before {
    content: url(imagens/magnifying-glass-solid.svg);
    width: 32px;
    height: 32px;
    display: none;
    position: absolute;
    z-index: 3;
    top: 46%;
    left: 32%;
}

.project:hover.project::before {
    display: block;
}

.project:hover.project img {
    transform: scale(1.3);
    transition: 500ms ease-in;
}

.project:hover.project::after {
    display: flex;
}

.project-title {
    font-family: var(--FontPoppins);
    font-weight: 600;
    color: var(--MediumBlack);
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: var(--Green);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.project img {
    margin-top: 10px;
}

.project-back {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
}

.projeto {
    background-color: white;
    width: 900px;
    height: fit-content;
    position: fixed;
    z-index: 10;
    visibility: visible;
    border-radius: 10px;
    padding: 25px 40px 30px 40px;
    animation-name: smoothPopup;
    animation-delay: 0s;
    animation-duration: 1.5s;
    top: 15%;
}

@keyframes smoothPopup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projeto > a > img {
    width: 100%;
    margin-top: 20px;
}

.projeto .sub-title {
    text-align: center;
}

.projeto span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.projeto span:nth-child(3) {
    display: block;
}

.projeto span h3 {
    font-family: var(--FontPoppins);
    font-weight: 600;
    color: var(--MediumBlack);
    text-transform: capitalize;
    font-size: 20px;
}

.projeto span:nth-child(3) h3 {
    display: inline-block;
}

.FullText,
.SingleText {
    display: inline;
}

.shorter {
    display: none;
}

.projeto span p {
    font-family: var(--FontPoppins);
    color: #212529;
    font-weight: 400;
}

/* .projeto span:nth-child(3) p {
    display: inline;
} */

.quote {
    text-decoration: none;
    color: #20c997;
    font-style: normal;
}

.link-container a {
    color: black;
    font-weight: 600;
    font-family: var(--FontPoppins);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.link-container a:hover {
    color: var(--Green);
}

.link-container a:hover::after {
    color: black;
}

.link-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.link-container a::after {
    content: "/";
}

.link-container .hiddenbar::after {
    content: "";
}

.link-container a:nth-child(3)::after {
    content: "";
}

.projeto span img {
    width: 23px;
}

.close-btn {
    border: none;
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    position: absolute;
    top: 33px;
    right: 70px;
    transition: 0.3s;
}

.close-btn:hover {
    font-size: 35px;
    color: var(--Green);
}

/* contatos */

#contact-section {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    min-width: 200px;
    border-right-style: solid;
    border-right-color: var(--Green);
    border-right-width: 1.5px;
    padding-right: 60px;
    text-decoration: none;
}

.contact .link {
    text-transform: capitalize;
    margin: 0 auto;
}

.contact:hover .link {
    color: var(--Green);
}

.contact:hover .link::after {
    color: var(--Green);
    width: 100%;
    height: 2px;
    left: 0px;
}

.contact img {
    height: 58px;
    width: 68px;
}

/* footer */

footer {
    background-color: var(--LightGray);
    text-align: center;
    color: #f8f9fa;
    padding: 40px 0px;
    font-family: var(--FontPoppins);
    font-weight: bold;
    margin-top: 50px;
}
